spring:
  profiles:
    active:
    - dev
server:
  port: 8888
mybatis:
  type-aliases-package: cn.unminded.bee.persistence.entity
  mapper-locations:
  - classpath*:mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true
bee:
  security:
    ip:
      whitelist: '*'