<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.unminded.bee.persistence.mapper.DataSourceMapper">

    <sql id="criteria">
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="dataSourceName != null and dataSourceName != ''">
                and data_source_name = #{dataSourceName}
            </if>
            <if test="dataSourceType != null and dataSourceType != ''">
                and data_source_type = #{dataSourceType}
            </if>
            <if test="dataSourceStatus != null">
                and data_source_status = #{dataSourceStatus}
            </if>
            <if test="true">
                and data_source_status != 4
            </if>
            <if test="startTime != null">
                and updated_time >= #{startTime}
            </if>
            <if test="endTime != null">
                and updated_Time &lt; #{endTime}
            </if>
        </trim>
    </sql>

    <select id="count" resultType="Long">
        select count(1) from t_data_source <include refid="criteria"/>
    </select>

    <select id="list" resultType="DataSourceEntity">
        select id,
            data_source_name,
            data_source_type,
            data_source_status,
            data_source_desc,
            protocol,
            method,
            address,
            query_param,
            headers,
            request_body,
            extract_variable,
            created_time,
            updated_time
        from t_data_source
        <include refid="criteria"/>
        <if test="asc">
            order by updated_time asc
        </if>
        <if test="desc">
            order by updated_time desc
        </if>
        <if test="(start != null and start >= 0) and (limit != null and limit > 0)">
            limit #{start}, #{limit}
        </if>
    </select>

    <insert id="insert" parameterType="DataSourceEntity" useGeneratedKeys="true" keyProperty="id">
        insert into
            t_data_source (`data_source_name`,
                               `data_source_type`,
                               `data_source_status`,
                               `data_source_desc`,
                               `protocol`,
                               `method`,
                               `address`,
                               `query_param`,
                               `headers`,
                               `request_body`,
                               `extract_variable`,
                               `created_time`,
                               `updated_time`)
        values (#{dataSourceName},
                #{dataSourceType},
                IFNULL(#{dataSourceStatus}, 0),
                IFNULL(#{dataSourceDesc}, ''),
                IFNULL(#{protocol}, ''),
                IFNULL(#{method}, ''),
                IFNULL(#{address}, ''),
                IFNULL(#{queryParam}, ''),
                IFNULL(#{headers}, ''),
                IFNULL(#{requestBody}, ''),
                IFNULL(#{extractVariable}, ''),
                IFNULL(#{createdTime}, now()),
                IFNULL(#{updatedTime}, now())
            )
    </insert>

    <update id="update" parameterType="DataSourceEntity">
        update t_data_source set
        <if test="dataSourceName != null and dataSourceName != ''">
            data_source_name = #{dataSourceName},
        </if>
        <if test="dataSourceType != null and dataSourceType != ''">
            data_source_type = #{dataSourceType},
        </if>
        <if test="dataSourceStatus != null">
            data_source_status = #{dataSourceStatus},
        </if>
        <if test="dataSourceDesc != null and dataSourceDesc != ''">
            data_source_desc = #{dataSourceDesc},
        </if>
        <if test="protocol != null">
            protocol = #{protocol},
        </if>
        <if test="method != null">
            method = #{method},
        </if>
        <if test="address != null">
            address = #{address},
        </if>
        <if test="queryParam != null">
            query_param = #{queryParam},
        </if>
        <if test="headers != null">
            headers = #{headers},
        </if>
        <if test="requestBody != null">
            request_body = #{requestBody},
        </if>
        <if test="extractVariable != null">
            extract_variable = #{extractVariable},
        </if>
        updated_time = #{updatedTime}
        where
        <if test="id != null  and id > 0">
            id = #{id}
        </if>
    </update>


</mapper>