<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.unminded.bee.persistence.mapper.DictItemMapper">

    <sql id="criteria">
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="dictCode != null and dictCode != ''" >
                and dict_code = #{dictCode}
            </if>
            <if test="itemCode != null and itemCode != ''">
                and item_code = #{itemCode}
            </if>
            <if test="itemName != null and itemName != ''">
                and item_name = #{itemName}
            </if>
            <if test="status != null and status != ''">
                and `status` = #{status}
            </if>
        </trim>
    </sql>

    <select id="count" resultType="Long">
        select count(1) from t_dict_item <include refid="criteria"/>
    </select>

    <select id="list" resultType="DictItemEntity">
        select id,
        dict_code,
        item_code,
        item_name,
        item_value,
        status,
        sort,
        description,
        created_time,
        updated_time
        from t_dict_item
        <include refid="criteria"/>
        order by created_time desc
        <if test="(start != null and start >= 0) and (limit != null and limit > 0)">
            limit #{start}, #{limit}
        </if>
    </select>

    <insert id="insert" parameterType="DictItemEntity" useGeneratedKeys="true" keyProperty="id">
        insert into
        t_dict_item (`dict_code`,
                `item_code`,
                `item_name`,
                `item_value`,
                `status`,
                `sort`,
                `description`,
                `created_time`,
                `updated_time`)
        values (
                #{dictCode},
                #{itemCode},
                #{itemName},
                #{itemValue},
                IFNULL(#{status}, 0),
                IFNULL(#{sort}, 1),
                IFNULL(#{description}, ''),
                IFNULL(#{createdTime}, now()),
                IFNULL(#{updatedTime}, now())
               )
    </insert>

    <update id="update" parameterType="DictItemEntity">
        update t_dict_item set
        <if test="dictCode != null and dictCode != ''">
            dict_code = #{dictCode},
        </if>
        <if test="itemCode != null and itemCode != ''">
            item_code = #{itemCode},
        </if>
        <if test="itemName != null and itemName != ''">
            item_name = #{itemName},
        </if>
        <if test="itemValue != null and itemValue != ''">
            item_value = #{itemValue},
        </if>
        <if test="status != null">
            status = #{status},
        </if>
        <if test="sort != null">
            sort = #{sort},
        </if>
        <if test="description != null and description != ''">
            description = #{description},
        </if>
        updated_time = #{updatedTime}
        where
        <trim prefixOverrides="and | or">
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="dictCode != null and dictCode != ''">
                and dict_code = #{dictCode},
            </if>
            <if test="itemCode != null and itemCode != ''">
                and item_code = #{itemCode},
            </if>
            <if test="itemName != null and itemName != ''">
                and item_name = #{itemName}
            </if>
        </trim>
    </update>

</mapper>