<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.unminded.bee.persistence.mapper.ModelTreeMapper">

    <sql id="criteria">
        <trim prefix="where" prefixOverrides="and | or">
            <if test="modelId != null">
                and modelId = #{modelId}
            </if>
            <if test="modelType != null and modelType != ''">
                and modelType = #{modelType}
            </if>
            <if test="modelName != null and modelName != ''">
                and modelName = #{modelName}
            </if>
            <if test="isLeaf != null">
                and isLeaf = #{isLeaf}
            </if>
        </trim>
    </sql>

    <select id="count" resultType="Long">
        select count(1) from t_model_tree <include refid="criteria"/>
    </select>

    <select id="list" resultType="ModelTreeEntity">
        select modelId,
            modelType,
            modelName,
            `isLeaf`,
            modelDesc,
            modelStatus,
            operator,
            createdTime,
            updateTime
        from t_model_tree
        <include refid="criteria"/>
        order by createdTime
        <if test="(start != null and start >= 0) and (limit != null and limit > 0)">
            limit #{start}, #{limit}
        </if>
    </select>

    <insert id="insert" parameterType="ModelTreeEntity" useGeneratedKeys="true" keyProperty="modelId">
        insert into
            t_model_tree (`modelType`,
                               `modelName`,
                                `isLeaf`,
                                `modelDesc`,
                                `modelStatus`,
                               `operator`,
                               `createdTime`,
                               `updateTime`)
        values (#{modelType},
                #{modelName},
                #{isLeaf},
                #{modelDesc},
                #{modelStatus},
                #{operator},
                #{createdTime},
                #{updateTime})
    </insert>

    <update id="update">
        update t_model_tree
            <trim prefix="set">
                <if test="modelType != null">
                    modelType = #{modelType},
                </if>
                <if test="modelName != null">
                    modelName = #{modelName},
                </if>
                <if test="isLeaf != null">
                    isLeaf = #{isLeaf},
                </if>
                <if test="modelDesc != null">
                    modelDesc = #{modelDesc},
                </if>
                <if test="modelStatus != null">
                    modelStatus = #{modelStatus},
                </if>
                <if test="operator != null">
                    operator = #{operator},
                </if>
            </trim>
                updateTime = #{updateTime}
            where
                modelId = #{modelId}
    </update>


</mapper>