<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.unminded.bee.persistence.mapper.VariableMapper">

    <select id="connectKeepAlive" resultType="Integer">
        select count(*) from dual
    </select>

    <sql id="field">
        select id,
               variable_name_en,
               variable_name_zh,
               variable_desc,
               data_source_name,
               data_source_type,
               variable_status,
               version,
               author,
               requirement_name,
               created_time,
               updated_time
        from t_variable
    </sql>

    <sql id="criteria">
        <trim prefix="where" prefixOverrides="and | or">
            <if test="true">
                and variable_status != 4
            </if>
            <if test="variableNameEn != null and variableNameEn != ''">
                and variable_name_en = #{variableNameEn}
            </if>
            <if test="dataSourceName != null and dataSourceName != ''">
                and data_source_name = #{dataSourceName}
            </if>
            <if test="dataSourceType != null and dataSourceType != ''">
                and data_source_type = #{dataSourceType}
            </if>
            <if test="startTime != null">
                and updated_time >= #{startTime}
            </if>
            <if test="endTime != null">
                and updated_time &lt; #{endTime}
            </if>
        </trim>
    </sql>

    <select id="count" resultType="Long">
        select count(1) from t_variable <include refid="criteria"/>
    </select>

    <select id="list" resultType="VariableEntity">
        <include refid="field"/>
        <include refid="criteria"/>
        <if test="asc != null and asc">
            order by created_time asc
        </if>
        <if test="desc != null and desc">
            order by created_time desc
        </if>
        <if test="(start != null and start >= 0) and (limit != null and limit > 0)">
            limit #{start}, #{limit}
        </if>
        <if test="!((start != null and start >= 0) and (limit != null and limit > 0))">
            limit 10
        </if>

    </select>

    <select id="findLastOne" resultType="VariableEntity">
        <include refid="field"/>
            where
            <if test="variableNameEn != null and variableNameEn !=''">
                variable_name_en = #{variableNameEn}
            </if>
            order by created_time desc
            limit 1
    </select>

    <select id="findOneById" resultType="VariableEntity">
        <include refid="field"/>
            where
            <if test="id != null and id > 0">
                id = #{id} limit 1
            </if>
    </select>

    <insert id="insert" parameterType="VariableEntity" useGeneratedKeys="true" keyProperty="id">
        insert into
            t_variable (`variable_name_en`,
                               `variable_name_zh`,
                               `variable_desc`,
                               `data_source_name`,
                               `data_source_type`,
                               `variable_status`,
                               `version`,
                               `author`,
                               `requirement_name`,
                               `created_time`,
                               `updated_time`)
        values (#{variableNameEn},
                #{variableNameZh},
                #{variableDesc},
                #{dataSourceName},
                #{dataSourceType},
                IFNULL(#{variableStatus}, 0),
                IFNULL(#{version}, 0),
                #{author},
                IFNULL(#{requirementName}, ''),
                IFNULL(#{createdTime}, now()),
                IFNULL(#{updatedTime}, now()
                )
    </insert>

    <update id="update" parameterType="VariableEntity">
        update t_variable set
            <if test="variableDesc != null">
                variable_desc = #{variableDesc},
            </if>
            <if test="dataSourceName != null and dataSourceName != ''">
                data_source_name = #{dataSourceName},
            </if>
            <if test="dataSourceType != null and dataSourceType != ''">
                data_source_type = #{dataSourceType},
            </if>
            <if test="variableStatus != null">
                variable_status = #{variableStatus},
            </if>
            <if test="version != null">
                version = #{version} + 1,
            </if>
            <if test="requirementName != null">
                requirement_name = #{requirementName},
            </if>
            updated_time = #{updatedTime}
        where
            <if test="id != null  and id > 0">
                id = #{id}
            </if>
            <if test="id == null or id &gt; 0">
                variable_name_en = #{variableNameEn}
            </if>
    </update>



</mapper>